:host {
  --paginator-h: 8vh;

  ::ng-deep {
    p-paginator .p-element.p-dropdown-label.p-inputtext {
      @apply px-4 py-3;
    }

    .p-datatable-thead {
      th {
        @apply whitespace-nowrap;
        i {
          @apply px-1 rounded-full text-xs leading-3;
        }
      }
    }
  }

}

th {
  &:hover {
    @apply relative;

    i.ctrl {
      @apply visible;
    }
  }

  i.ctrl {
    @apply invisible cursor-pointer;
    &:hover {
      color: var(--accent-color);
    }
  }
}

.indicator {
  color: var(--primary-color);
}
