<p-table *ngIf="targetData?.entity?.columns"
         scrollHeight="calc(100vh - var(--header-bar-h) - var(--paginator-h))"
         [value]="pageableData?.items"
         [scrollable]="true"
         [paginator]="true"
         [first]="currentPos"
         [lazy]="true"
         [rowsPerPageOptions]="[20, 50, 100, 500, 1000]"
         [rows]="pageableData?.pageSize"
         [totalRecords]="pageableData?.totalCount"
         (onPage)="getItems($event)">
  <ng-template pTemplate="header">
    <tr>
      <th *ngFor="let item of targetData.entity.columns">
        <ng-container *ngIf="queryParams['sort'] === item.property">
          <i class="indicator pi"
             [ngClass]="{
              'pi-sort-amount-down': queryParams['order'] === 'DESC',
              'pi-sort-amount-up': queryParams['order'] === 'ASC'
             }"></i>
        </ng-container>
        {{item.name | localize:item.property}}
        <i class="ctrl pi pi-window-maximize" pRipple (click)="showFilterDialog(item)"></i>
      </th>
    </tr>
  </ng-template>
  <ng-template let-item pTemplate="body">
    <tr>
      <td *ngFor="let col of targetData.entity.columns">
        {{ item[col.property] }}
      </td>
    </tr>
  </ng-template>
</p-table>

<preloader *preloading="{state: true, channel: preloaderChannel}"></preloader>
