<p-tabView [scrollable]="true" [(activeIndex)]="activeTabIndex">
  <p-tabPanel *ngFor="let tab of tabs" [header]="tab.id === restTab.id ? ('explorer.tab.rest' | transloco) : tab.id">
    <div *ngIf="targetData?.entity?.columns" [ngClass]="tabClassName">
      <ng-container *ngFor="let col of targetData.entity.columns">
        <div *ngIf="col.tab?.id === tab.id" class="box">
          <explorer-object-renderer
            *ngIf="col.objectVisibility"
            [target]="targetData"
            [column]="col"
            [data]="entityData"
            [entityForm]="entityForm"/>
        </div>
      </ng-container>
    </div>
  </p-tabPanel>
</p-tabView>
<div *ngIf="targetData?.entity" class="actions">
  <div>
    <explorer-action-renderer *ngIf="targetData.entity.actions?.length"
                              [entityForm]="entityForm"
                              [target]="targetData"
                              [data]="entityData"
                              [actions]="targetData.entity.actions"/>
  </div>
  <div>
    <button *ngIf="targetData.entity.defaultActionDelete" class="p-button-sm p-button-danger" pButton pRipple
            [disabled]="!canDeleteObject" (click)="deleteObject()">
      <i class="pi pi-times"></i>&nbsp;
      {{"explorer.delete" | transloco}}
    </button>
    <button *ngIf="targetData.entity.defaultActionSave" class="p-button-sm p-button-success" pButton pRipple
            [disabled]="!entityForm.valid" (click)="saveObject()">
      <i class="pi pi-save"></i>&nbsp;
      {{"explorer.save" | transloco}}
    </button>
  </div>
</div>

<preloader *preloading="{state: false, channel: preloaderChannel}"/>

<p-confirmDialog #delDialog>
  <ng-template pTemplate="header">
    {{"explorer.msg.delete" | transloco}}
  </ng-template>
  <ng-template pTemplate="footer">
    <button type="button" pButton (click)="delDialog.reject()">
      {{"msg.cancel" | transloco}}
    </button>
    <button type="button" class="p-button-success" pButton
            (click)="delDialog.accept()">
      {{"msg.accept" | transloco}}
    </button>
  </ng-template>
</p-confirmDialog>
