<div>
  <p-card>
    <form [formGroup]="form" (ngSubmit)="onSubmit()">
      <div class="logo"></div>
      <div class="p-input-icon-right">
        <i class="pi pi-user"></i>
        <input pInputText
               [placeholder]="'auth.login' | transloco"
               [formControl]="form.controls.login"/>
      </div>
      <div class="p-input-icon-right">
        <i class="pi pi-lock"></i>
        <p-password
          [placeholder]="'auth.password' | transloco"
          [formControl]="form.controls.password"
          [toggleMask]="true"
          [feedback]="false"/>
      </div>
      @if (captchaConfig?.enabled) {
        <div class="captcha">
          @if (!isReCaptcha) {
            <div>
              <img alt="captcha" [src]="captchaConfig.image"/>
              <p-button icon="pi pi-replay"
                        [rounded]="true"
                        (click)="getCaptcha()"/>
            </div>
            <input pInputText
                   [placeholder]="'auth.captcha.value' | transloco"
                   [formControl]="form.controls.captchaPayload"/>
          } @else {
            <re-captcha [siteKey]="captchaConfig.id"
                        [theme]="theme"
                        (resolved)="onCaptchaResolved($event)"
            />
          }
        </div>
      }
      <button pButton pRipple
              icon="pi pi-sign-in"
              iconPos="right"
              [label]="'auth.sign.in' | transloco"
              [disabled]="!form.valid || !captchaConfig || (isReCaptcha && !reCaptchaResolved)">
      </button>
      <preloader *preloading="{state: false, channel: preloaderChannel}"/>
    </form>
  </p-card>
</div>
<div class="promo"></div>
