<p-card>
  <form [formGroup]="form" (ngSubmit)="onSubmit()">
    <img src="/assets/icons/logo-dark.svg" alt="Logo"/>
    <div class="p-input-icon-right">
      <i class="pi pi-user"></i>
      <input pInputText placeholder="Логин" [formControl]="form.controls.login"/>
    </div>
    <div class="p-input-icon-right">
      <i class="pi pi-lock"></i>
      <p-password placeholder="Пароль" [formControl]="form.controls.password" [toggleMask]="true" [feedback]="false"/>
    </div>
    <button pButton pRipple label="Войти" icon="pi pi-sign-in" iconPos="right" [disabled]="!form.valid"></button>
  </form>
</p-card>
