<div>
  <p-card>
    <form [formGroup]="form" (ngSubmit)="onSubmit()">
      <div class="logo"></div>
      <div class="p-input-icon-right">
        <i class="pi pi-user"></i>
        <input pInputText
               [placeholder]="'auth.login' | transloco"
               [formControl]="form.controls.login"/>
      </div>
      <div class="p-input-icon-right">
        <i class="pi pi-lock"></i>
        <p-password
          [placeholder]="'auth.password' | transloco"
          [formControl]="form.controls.password"
          [toggleMask]="true"
          [feedback]="false"/>
      </div>
      <button pButton pRipple
              icon="pi pi-sign-in"
              iconPos="right"
              [label]="'auth.sign.in' | transloco"
              [disabled]="!form.valid">
      </button>
    </form>
  </p-card>
</div>
<div class="promo"></div>
