:host {
  background: var(--neutral-a);
  @apply flex justify-between w-full h-full;
  & > div {
    @apply flex items-center justify-center w-full;
  }

  @screen max-lg {
    ::ng-deep {
      .p-card {
        @apply shadow-none;
        &-body {
          @apply p-0;
        }
      }
    }
  }
}

form {
  @apply px-6 py-2 flex flex-col gap-6 items-center;
}

img {
  max-width: 240px;
  @apply mb-8 w-full;
}

button {
  @apply mt-4;
}

.logo {
  @apply relative w-full;
  height: 100px;

  &:after {
    content: "";
    background: no-repeat var(--logo-url) center left;
    @apply absolute left-3 right-3 top-3 bottom-3 bg-contain;
  }
}

.promo {
  background: var(--neutral-b);
  @apply relative;
  @screen max-lg {
    @apply hidden #{!important};
  }
  &:after {
    content: "";
    background-image: url("/assets/icons/promo.svg");
    @apply absolute left-0 right-0 top-0 bottom-0 opacity-40;
  }
}
