form {
  @apply px-6 py-2 flex flex-col gap-6 items-center;
}

img {
  width: 240px;
  @apply mb-8;
}

button {
  @apply mt-4;
}

.logo {
  @apply relative w-full;
  height: 100px;
  &:after {
    content: "";
    background: no-repeat var(--logo-url) center left;
    @apply absolute left-3 right-3 top-3 bottom-3 bg-contain;
  }
}
