<div *ngIf="placeholder" class="label">
  {{placeholder}}
  <p-button
    icon="pi pi-folder-open" severity="info"
    [disabled]="disabled"
    [rounded]="true"
    [text]="true"
    (click)="openSection()"/>
</div>
<ng-template #itemUI let-entity="entity">
  <div>
    <p-button
      icon="pi pi-times"
      severity="danger" [rounded]="true"
      [text]="true"
      (click)="removeItem(entity)"/>
    {{entity | refName:targetData}}
  </div>
</ng-template>
<div *ngIf="entity" class="content-wrapper">
  <ng-container *ngIf="!multi">
    <ng-container *ngTemplateOutlet="itemUI; context: {entity}"/>
  </ng-container>
  <ng-container *ngIf="multi">
    <ng-container *ngFor="let item of entities">
      <ng-container *ngTemplateOutlet="itemUI; context: {entity: item}"/>
    </ng-container>
  </ng-container>
</div>
