<div class="label">{{column.name | localize: column.property}}</div>
<div class="status" [ngClass]="statusControlValue?.toLowerCase()">
  <span [ngClass]="{enabled: data.enabled, disabled: !data.enabled}">
    {{(data.enabled ? "msg.enabled" : "msg.disabled") | transloco}}
  </span>
  <span>
    {{"msg.status" | transloco}}: {{ statusControlValue }}
  </span>
</div>
<p-tabView [scrollable]="true" [(activeIndex)]="activeTabIndex">
  <ng-container *ngFor="let log of logsList">
    <p-tabPanel [header]="log.tsCreated | date: 'medium'">
      <div class="logs"
           [innerHTML]="log.content | processLog">
      </div>
    </p-tabPanel>
  </ng-container>
</p-tabView>
