<p-tabView [scrollable]="true" [ngClass]="{single: tabs.length < 2}" [(activeIndex)]="activeTabIndex">
  @for (tab of tabs; track tab.id) {
    @if (hasColumns(tab)) {
      <p-tabPanel
        [header]="tab.id === restTab.id ? ('explorer.tab.rest' | transloco) : (tab.name | localize: tab.id).toString()">
        @if (targetData?.entity?.columns) {
          <div [ngClass]="tabClassName">
            @for (col of targetData.entity.columns; track col.id) {
              @if (col.tab?.id === tab.id && col.objectVisibility) {
                <div class="box">
                  @if (col.objectVisibility) {
                    <explorer-object-renderer
                      [target]="targetData"
                      [column]="col"
                      [data]="entityData"
                      [entityForm]="entityForm"/>
                  }
                </div>
              }
            }
          </div>
        }
      </p-tabPanel>
    }
  }
</p-tabView>
@if (targetData?.entity) {
  <div class="actions">
    <div>
      @if (targetData.entity.actions?.length) {
        <explorer-action-renderer
          [entityForm]="entityForm"
          [target]="targetData"
          [data]="entityData"
          [actions]="targetData.entity.actions"/>
      }
    </div>
    <div>
      @if (canDuplicate) {
        <button class="p-button-sm" pButton pRipple
                (click)="duplicateObject()">
          <i class="pi pi-copy"></i>&nbsp;
          {{ "explorer.duplicate" | transloco }}
        </button>
      }
      @if (canExport) {
        <button class="p-button-sm p-button-secondary" pButton pRipple
                (click)="exportObject()">
          <i class="pi pi-file-export"></i>&nbsp;
          {{ "explorer.export.btn" | transloco }}
        </button>
      }
      @if (targetData.entity.defaultActionDelete) {
        <button class="p-button-sm p-button-danger" pButton pRipple
                [disabled]="!canDeleteObject" (click)="deleteObject()">
          <i class="pi pi-times"></i>&nbsp;
          {{ "explorer.delete" | transloco }}
        </button>
      }
      @if (targetData.entity.defaultActionSave) {
        <button class="p-button-sm p-button-success" pButton pRipple
                [disabled]="!entityForm.valid" (click)="saveObject()">
          <i class="pi pi-save"></i>&nbsp;
          {{ "explorer.save" | transloco }}
        </button>
      }
    </div>
  </div>
}

<preloader *preloading="{state: true, channel: preloaderChannel}"/>

<p-confirmDialog #delDialog>
  <ng-template pTemplate="header">
    {{ "explorer.msg.delete" | transloco }}
  </ng-template>
  <ng-template pTemplate="footer">
    <button type="button" pButton (click)="delDialog.reject()">
      {{ "msg.cancel" | transloco }}
    </button>
    <button type="button" class="p-button-success" pButton
            (click)="delDialog.accept()">
      {{ "msg.accept" | transloco }}
    </button>
  </ng-template>
</p-confirmDialog>
