:host {
  @apply flex flex-col w-full h-full;
}

.content-wrapper {
  @apply flex;
}

.content-area {
  width: calc(100vw - var(--side-menu-w));
  max-height: calc(100vh - var(--header-bar-h));
}

.content-block {
  @apply py-4 px-6;
}

.sidebar {
  width: var(--side-menu-w);
  max-height: 100vh;
  height: 100vh;
  background: var(--surface-a);
  box-shadow: var(--shadow-a);
  @apply rounded-r-2xl overflow-hidden;
}

.logo-bar {
  height: var(--logo-bar-h);
  @apply relative;
  &:after {
    content: "";
    background: no-repeat var(--logo-s-url) center left;
    @apply absolute left-4 right-4 top-4 bottom-4 bg-contain;
  }
}

.head-bar {
  height: var(--header-bar-h);
  @apply px-6 flex items-center;
}

.menu-bar {
  @apply py-2;
  padding-bottom: var(--logo-bar-h);
}
