@tailwind base;
@tailwind components;
@tailwind utilities;

@import "primeng/resources/primeng.css";
@import "primeicons/primeicons.css";

:root {
  --header-bar-h: 7vh;
  --logo-bar-h: 9vh;
  --side-menu-w: 15vw;
}

body {
  background: var(--neutral-a);
  font-family: var(--font-family);

  &.pending {
    @apply flex flex-col items-center;
    &:after {
      @apply absolute top-40 animate-ping animate-once animate-duration-[2000ms] animate-delay-0 animate-ease-in-out animate-reverse animate-fill-both;
      content: var(--logo-url);
      width: max-content;
      height: max-content;
    }
  }

}

.heading-xl {
  @apply text-xl font-medium;
  @screen max-xl {
    @apply text-lg;
  }
  @screen max-lg {
    @apply text-base;
  }
}

.heading-2xl {
  @apply text-2xl font-medium;
  @screen max-xl {
    @apply text-xl;
  }
  @screen max-lg {
    @apply text-lg;
  }
}
