<p-confirmDialog #cd>
  <ng-template pTemplate="header">
    {{"object.details.col.new.label" | transloco}}
  </ng-template>
  <ng-template pTemplate="message">
    <div>
      <input type="text" pInputText [placeholder]="'object.details.col.new.name' | transloco" [formControl]="newColName"/>
    </div>
  </ng-template>
  <ng-template pTemplate="footer">
    <button type="button" pButton (click)="cd.reject()">
      {{"object.details.col.new.cancel" | transloco}}
    </button>
    <button type="button" class="p-button-success" pButton [disabled]="!newColName.valid" (click)="cd.accept()">
      {{"object.details.col.new.ok" | transloco}}
    </button>
  </ng-template>
</p-confirmDialog>

<div *ngIf="target$ | async as target" class="content-wrapper" [formGroup]="form">
  <div class="cols">
    <div class="cols-actions">
      {{"object.details.cols" | transloco}}
      <p-button
        icon="pi pi-plus" severity="success"
        [rounded]="true"
        [text]="true"
        (click)="addVirtualColumn()"/>
    </div>
    <p-accordion *ngFor="let colForm of form.controls.columns.controls; let i = index"
                 formArrayName="columns">
      <p-accordionTab [ngClass]="{virtual: colForm.controls.virtual.value}" [header]="(colForm.controls.name.value | localize:colForm.controls.property.value)?.toString()">
        <div class="tab">
          <div>
            <localize-string-input
              [formControl]="colForm.controls.name"
              [placeholder]="'object.details.col.name' | transloco"/>
          </div>
          <div>
            <localize-string-input
              [formControl]="colForm.controls.description"
              [placeholder]="'object.details.col.description' | transloco"/>
          </div>
          <div>
            <ref-input target="ExplorerColumnRendererEntity"
                       [params]="{filter: '::type:section'}"
                       [placeholder]="'object.details.col.renderer.section' | transloco"
                       [formControl]="colForm.controls.sectionRenderer"/>
          </div>
          <div>
            <ref-input target="ExplorerColumnRendererEntity"
                       [params]="{filter: '::type:object'}"
                       [placeholder]="'object.details.col.renderer.object' | transloco"
                       [formControl]="colForm.controls.objectRenderer"/>
          </div>
          <div class="p-float-label">
            <p-autoComplete inputId="colType"
                            [formControl]="colForm.controls.type"
                            [suggestions]="suggestions"
                            (completeMethod)="searchType($event)"/>
            <label for="colType">{{"object.details.col.type" | transloco}}</label>
          </div>
          <div class="p-float-label">
            <p-inputNumber inputId="colSecPriority" [min]="0" [formControl]="colForm.controls.sectionPriority"/>
            <label for="colSecPriority">{{"object.details.col.sec.priority" | transloco}}</label>
          </div>
          <div class="p-float-label">
            <p-inputNumber inputId="colObjPriority" [min]="0" [formControl]="colForm.controls.objectPriority"/>
            <label for="colObjPriority">{{"object.details.col.obj.priority" | transloco}}</label>
          </div>
          <div class="cbx-container">
            <p-checkbox inputId="colSecEnabled"
                        [formControl]="colForm.controls.sectionEnabled"
                        [binary]="true"
                        [label]="'object.details.col.sec.enabled' | transloco"/>
          </div>
          <div class="cbx-container">
            <p-checkbox inputId="colObjEnabled"
                        [formControl]="colForm.controls.objectEnabled"
                        [binary]="true"
                        [label]="'object.details.col.obj.enabled' | transloco"/>
          </div>
          <div class="cbx-container">
            <p-checkbox inputId="colVirtual"
                        [formControl]="colForm.controls.virtual"
                        [binary]="true"
                        [label]="'object.details.col.virtual' | transloco"/>
          </div>
          <div class="cbx-container">
            <p-checkbox inputId="colPrimary"
                        [formControl]="colForm.controls.primary"
                        [binary]="true"
                        [label]="'object.details.col.primary' | transloco"/>
          </div>
          <div class="cbx-container">
            <p-checkbox inputId="colUnique"
                        [formControl]="colForm.controls.unique"
                        [binary]="true"
                        [label]="'object.details.col.unique' | transloco"/>
          </div>
          <div class="cbx-container">
            <p-checkbox inputId="colMultiple"
                        [formControl]="colForm.controls.multiple"
                        [binary]="true"
                        [label]="'object.details.col.multiple' | transloco"/>
          </div>
          <div class="p-float-label">
            <input id="colId" type="text" pInputText [formControl]="colForm.controls.id"/>
            <label for="colId">{{"object.details.col.id" | transloco}}</label>
          </div>
          <div class="p-float-label">
            <input id="colProperty" type="text" pInputText [formControl]="colForm.controls.property"/>
            <label for="colProperty">{{"object.details.col.property" | transloco}}</label>
          </div>
          <div class="p-float-label">
            <input id="colRefTbl" type="text" pInputText [formControl]="colForm.controls.referencedTableName"/>
            <label for="colRefTbl">{{"object.details.col.ref.tbl.name" | transloco}}</label>
          </div>
          <div class="p-float-label">
            <input id="colRefEnt" type="text" pInputText [formControl]="colForm.controls.referencedEntityName"/>
            <label for="colRefEnt">{{"object.details.col.ref.ent.name" | transloco}}</label>
          </div>
        </div>
      </p-accordionTab>
    </p-accordion>
  </div>
  <div class="right">
    <div class="data-grid">
      <div>
        <div><i class="pi pi-box"></i>{{"object.details.target.name" | transloco}}</div>
        <div>
          {{target.entity.target}}
          <a target="_blank" [attr.href]="'/section/' + target.entity.target">
            <i class="pi pi-arrow-right"></i>
          </a>
        </div>
      </div>
      <div>
        <div><i class="pi pi-database"></i>{{"object.details.target.table" | transloco}}</div>
        <div>{{target.entity.tableName}}</div>
      </div>
      <div>
        <div><i class="pi pi-key"></i>{{"object.details.target.pk" | transloco}}</div>
        <div>{{target.primaryColumn.property}}</div>
      </div>
    </div>
    <div>
      <localize-string-input
        formControlName="name"
        [placeholder]="'object.details.object.name' | transloco"/>
    </div>
    <div>
      <localize-string-input
        formControlName="description"
        [placeholder]="'object.details.object.description' | transloco"/>
    </div>
    <div>
      <media-input
        formControlName="icon"
        mediaSize="responsive"
        [placeholder]="'object.details.object.icon' | transloco"/>
    </div>
    <div class="actions">
      <button pButton (click)="saveObject()">{{"object.details.save" | transloco}}</button>
    </div>
  </div>
</div>
<preloader *preloading="{state: true, channel: preloaderChannel}"/>
