<div *ngIf="target$ | async as target" class="content-wrapper" [formGroup]="form">
  <div class="cols">
    <p-accordion *ngFor="let col of target.entity.columns" [multiple]="true">
      <p-accordionTab [header]="(col.name | localize:col.property).toString()">
        {{col.type}}
      </p-accordionTab>
    </p-accordion>
  </div>
  <div class="right">
    <div class="data-grid">
      <div>
        <div><i class="pi pi-box"></i>{{"object.details.target.name" | transloco}}</div>
        <div>{{target.entity.target}}</div>
      </div>
      <div>
        <div><i class="pi pi-database"></i>{{"object.details.target.table" | transloco}}</div>
        <div>{{target.entity.tableName}}</div>
      </div>
      <div>
        <div><i class="pi pi-key"></i>{{"object.details.target.pk" | transloco}}</div>
        <div>{{target.primaryColumn.property}}</div>
      </div>
    </div>
    <div>
      <!--<input type="text" pInputText [placeholder]="'object.details.object.name' | transloco"/>-->
      <localize-string-input
        formControlName="name"
        [placeholder]="'object.details.object.name' | transloco"/>
    </div>
    <div>
      <localize-string-input
        formControlName="description"
        [placeholder]="'object.details.object.description' | transloco"/>
    </div>
    <div>
      <media-input
        formControlName="icon"
        mediaSize="responsive"
        [placeholder]="'object.details.object.icon' | transloco"/>
    </div>
    <div class="actions">
      <button pButton (click)="saveObject()">{{"object.details.save" | transloco}}</button>
    </div>
  </div>
</div>
<preloader *preloading="{state: true, channel: preloaderChannel}"/>
