:host {
  max-width: 75vw;
  @apply block;
}

p-confirmDialog {
  @apply w-full;
  max-width: 400px;

  div, input {
    @apply w-full;
  }
}

.cols-list {
  .virtual {
    color: var(--primary-color);
  }

  & > div {
    @apply flex justify-between gap-4;
    & > div {
      @apply flex items-center gap-x-2;
    }
  }
}

.cols {
  @apply flex flex-col gap-4;
  & > div:first-child {
    @apply my-2;
  }
}

.cols-actions {
  @apply flex justify-between;
  & > div {
    @apply flex items-center;
  }
}

.cbx-container {
  @apply flex gap-x-2 items-center w-full;
}

.content-wrapper {
  @apply grid grid-cols-2 gap-x-8 w-full;
}

.data-grid {
  & > div {
    @apply grid grid-cols-2 gap-4 py-1;
    & > div {
      @apply flex items-center gap-x-2;
      &:first-child {
        color: var(--surface-600);
        @apply italic;
      }

      &:last-child {
        @apply font-semibold;
      }
    }

    &:nth-child(1) i {
      color: var(--primary-color);
    }

    &:nth-child(2) i {
      color: var(--accent-color);
    }

    &:nth-child(3) i {
      color: var(--orange-500);
    }
  }
}

.right {
  @apply relative;
  .info {
    @apply sticky top-0;
    & > div:not(.actions) {
      @apply py-2;
    }
  }
}

.actions {
  @apply py-8 text-center;
}

.tabs {
  @apply flex flex-col gap-4;
  div, input, p-inputNumber, textarea {
    @apply w-full;
  }
}
