<p-confirmDialog #cd>
  <ng-template pTemplate="header">
    {{"object.details.col.new.label" | transloco}}
  </ng-template>
  <ng-template pTemplate="message">
    <div>
      <input type="text" pInputText [placeholder]="'object.details.col.new.name' | transloco"
             [formControl]="newColName"/>
    </div>
  </ng-template>
  <ng-template pTemplate="footer">
    <button type="button" pButton (click)="cd.reject()">
      {{"object.details.col.new.cancel" | transloco}}
    </button>
    <button type="button" class="p-button-success" pButton [disabled]="!newColName.valid" (click)="cd.accept()">
      {{"object.details.col.new.ok" | transloco}}
    </button>
  </ng-template>
</p-confirmDialog>

<div *ngIf="target$ | async as target" class="content-wrapper" [formGroup]="form">
  <div class="cols">
    <div class="p-float-label">
      <input id="colAlias" type="text" pInputText
             formControlName="alias"/>
      <label for="colAlias">{{"object.details.col.alias" | transloco}}</label>
    </div>
    <div class="cols-actions">
      {{"object.details.cols" | transloco}}
      <p-button
        icon="pi pi-plus" severity="success"
        [rounded]="true"
        [text]="true"
        (click)="addVirtualColumn()"/>
    </div>
    <div *ngFor="let colForm of form.controls.columns.controls; let i = index"
         formArrayName="columns"
         class="cols-list">
      <div
        [ngClass]="{virtual: colForm.controls.virtual.value}">
        <p-button
          icon="pi pi-pencil" severity="warning"
          [rounded]="true"
          [text]="true"
          (click)="openColumnEditor(colForm)"/>
        {{(colForm.controls.name.value | localize:colForm.controls.property.value)?.toString()}}
        <p-button *ngIf="colForm.controls.virtual.value"
          icon="pi pi-times" severity="danger"
          [rounded]="true"
          [text]="true"
          (click)="removeColumn(i)"/>
      </div>
    </div>
  </div>
  <div class="right">
    <div class="info">
      <div class="data-grid">
        <div>
          <div><i class="pi pi-box"></i>{{"object.details.target.name" | transloco}}</div>
          <div>
            {{target.entity.target}}
            <a target="_blank" [attr.href]="'/section/' + target.entity.target">
              <i class="pi pi-arrow-right"></i>
            </a>
          </div>
        </div>
        <div>
          <div><i class="pi pi-database"></i>{{"object.details.target.table" | transloco}}</div>
          <div>{{target.entity.tableName}}</div>
        </div>
        <div>
          <div><i class="pi pi-key"></i>{{"object.details.target.pk" | transloco}}</div>
          <div>{{target.primaryColumn.property}}</div>
        </div>
      </div>
      <div>
        <localize-string-input
          formControlName="name"
          [placeholder]="'object.details.object.name' | transloco"/>
      </div>
      <div>
        <localize-string-input
          formControlName="description"
          [placeholder]="'object.details.object.description' | transloco"/>
      </div>
      <div>
        <media-input
          formControlName="icon"
          mediaSize="responsive"
          [placeholder]="'object.details.object.icon' | transloco"/>
      </div>
      <div class="actions">
        <button pButton [disabled]="!form.valid" (click)="saveObject()">
          {{"object.details.save" | transloco}}
        </button>
      </div>
    </div>
  </div>
</div>
<preloader *preloading="{state: true, channel: preloaderChannel}"/>
